/node_modules
/public/storage
public/.htaccess
public/.htaccess_prod
public/.htaccess_staging
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
config/cors.php
